body {
    background-color:skyblue;
    border-style: ridge;
    border-width: 10px;
    margin: 10px;
    border-color: cyan;
    border-radius: 40px;
}

.name_of_objects {
    color: teal;
}

#camera {
    height: 300px;
    width : 350px;
    border : 5px - black;
    border-style: ridge;
    border-radius: 20px;
}